h3{
    color: darkslategray;

}
h2{
    color: chocolate;
    text-decoration: dotted;
}
#kk{
    align-items: center;
    padding-left: 25%;
}

@media screen and (max-width:768px) {
    #kk{
        align-items: center;
        padding-left: 5%;
    } 
}