

  
  .footer-container {
    display: flex;
    justify-content: space-between; /* Distribute the space between the elements */
    align-items: center; /* Align the items in the center vertically */
    flex-wrap: wrap; /* Ensures the content wraps on smaller screens */
  }
  
  .footer-container p {
    margin: 0; /* Remove default margin */
  }
  
  .footer-links {
    display: flex;
    gap: 15px; /* Space between the links */
  }
  
  .footer-links a {
    text-decoration: none;
    color: #007bff; /* Adjust link color */
    font-weight: bold;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
#kk{
  color: dodgerblue;
  font-weight: bold;
}