

  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    flex-wrap: wrap; 
  }
  
  .footer-container p {
    margin: 0; 
  }
  
  .footer-links {
    display: flex;
    gap: 15px; 
  }
  
  .footer-links a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }
  
  .footer-links a:hover {
    text-decoration: underline;
  }
#kk{
  color: dodgerblue;
  font-weight: bold;
}